# Dependências do JavaScript/Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Configurações locais e segredos
.env
.env.local
.env.*.local

# Compilados de C# / .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Compilados de Rust
target/
**/*.rs.bk

# Logs e arquivos de sistema
*.log
.DS_Store
Thumbs.db

# Compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

